@model ChurchWeb.Models.VidoeFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VidoeFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIkes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIkes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VideoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
