@model ChurchWeb.Models.CashDonation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CashDonation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonationType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaptureEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaptureEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCaptured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCaptured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CashDonationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
